body {
  height: 2500px;
  background-color: black;
  padding-left: 12px;
  padding-bottom: 12px;
  padding-right: 12px;
  margin: 20px;
}

div,
p {
  font-family: "Netflix sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif ;
  font-weight: 500;
}




